<div id="mailinfo">
    <p id="title">@Model.Subject</p>
    <p id="sender">@Model.From</p>
    <p id="datetime">@Model.Date</p>
</div>
<div id="mail">
    @{  if (@Model.HtmlBody != MvcHtmlString.Empty)
        {
            @Model.HtmlBody
        }
        else
        {
            <div id="textbody">
                @Model.TextBody
            </div>
        }
    }
</div>
