<div id="mailinfo">
    <p id="title">@Model.Subject</p>
    <p id="sender">@Model.From</p>
    <p id="datetime">@Model.Date.ToString("g")</p>
</div>
<div id="delete">
    <a href="/JS/DeleteMail?Uid=@Model.Uid">
        <img src="/Content/images/delete.png" alt="" />
        <span>Удалить</span>
    </a>
</div>
<section id="mail">
    @{ if (@Model.HtmlBody.ToHtmlString().Length > 0)
        {
            @Model.HtmlBody
        }
        else
        {
            <div id="textbody">
                <p>
                    @Model.TextBody
                </p>
            </div>
        }
    }
</section>
