<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Scripts.Render("/Scripts/jquery-3.4.1.js")
    @Scripts.Render("/Scripts/jquery.unobtrusive-ajax.js")
    @RenderSection("scripts", required: false)
    @Styles.Render("~/Content/css")
    @*<link href="/Content/Site.css?v=@DateTime.Now.Millisecond" rel="stylesheet" runat="server" type="text/css" />*@
</head>
<body>
    <div id="navbar">
        @Html.ActionLink("Имя приложения", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <ul class="top">
            <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
            <li>@Html.ActionLink("О программе", "About", "Home")</li>
            <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
        </ul>
        @if (@Session.Count > 0)
        {
            @Html.ActionLink("Выйти", "Exit", "Home", new { @id = "exit" })
        }
    </div>
    @RenderBody()

</body>
</html>
